.checkFields {
    margin-left: 15px;
    margin-right: 15px;
}
.panel-default>.panel-heading{
    background-image: linear-gradient(to bottom,#43966f 0,#e8e8e8 200%);
    background-repeat: repeat-x;
}